*.gem
*.rbc
/.bundle/
/.yardoc
/_yardoc/
/coverage/
/vendor/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status
label.pdf
labrat.pdf
/vendor-templates/
/README.pdf
/README.pyg
/README.tex
/label.tex
*.aux
/texlabels/auto/
